@model TodoIndexViewModel
@{
    ViewData["Title"] = "Todo List";
}
@using DomainModule.Enums
@using DomainModule.Entity
<div class="pagetitle">
    <h1>Todo</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Todo/Index</li>

        </ol>
    </nav>
</div>
<section class="vh-100 gradient-custom-2">
    <div class="container  ">
        <div class="row ">
            <div class="col-md-12 col-xl-12">

                <div class="card mask-custom">
                    <div class="card-body p-4">

                        <div class="col-md-12">
                            <div class="col-md-2 form-group">
                                <a asp-area="Todo" asp-controller="Todo" asp-action="Create"><i class="fa fa-plus fa-lg"></i> Add</a>
                            </div>
                        </div>
                        <form asp-area="Todo" asp-controller="Todo" asp-action="Index" class="mt-4">
                            <div class="d-flex justify-content-around col-md-12">
                                <div class="col-md-2 form-group">
                                    <label>From Date</label>
                                    <input asp-for="FromDate" type="date" class="form-control form-control-user" />
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>To Date</label>
                                    <input asp-for="ToDate" type="date" class="form-control form-control-user" />
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Priority Level</label>
                                    @Html.DropDownListFor(a => a.PriorityLevel, (SelectList)ViewBag.TodoPriorityLevel,"--All--", new { @class = "form-control form-control-user  " })
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Status</label>
                                    <select asp-for="Status" class="form-control">
                                        <option value="">--All--</option>
                                        <option value="@TodoEntity.StatusActive">@TodoEntity.StatusActive</option>
                                        <option value="@TodoEntity.StatusCompleted">@TodoEntity.StatusCompleted</option>

                                    </select>
                                </div>
                                <div class="col-md-2 form-group">
                                    <label>Title</label>
                                    @Html.TextBoxFor(a=>a.Title,"",new{@class="form-control "})
                                </div>

                                <div class="col-md-2 form-group mt-4">
                                    <button type="submit" class="btn btn-primary form-control">Filter</button>
                                </div>
                            </div>
                        </form>

                        @await Html.PartialAsync("~/Areas/Todo/Views/Todo/_TodoListView.cshtml", Model.Todos)
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script>
          $(document).ready(function(){
            $('#todoTable').DataTable()
          })
    </script>
}