@model UserEditViewModel
@{
    ViewData["Title"] = "Edit User";
}
<div class="pagetitle">
    <h1>User</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">User / Edit </li>

        </ol>
    </nav>
</div>
<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-lg-8">
                    <div class="p-5">
                      

                        <form method="post" asp-action="Edit">
                            @Html.HiddenFor(a=>a.Id)
                            <div class="form-group mt-2">
                                <label>Full Name *</label>
                                @Html.TextBoxFor(a=>a.Name,new{@class="form-control form-control-user required",placeholder="Full Name"})
                                @Html.ValidationMessageFor(a=>a.Name,"",new{@class="text-danger"})
                            </div>

                            <div class="form-group mt-2">
                                <label>Username *</label>
                                @Html.TextBoxFor(a=>a.UserName,new{@class="form-control form-control-user required",placeholder="Username"})
                                @Html.ValidationMessageFor(a=>a.UserName,"",new{@class="text-danger"})
                            </div>

                            <div class="form-group mt-2">
                                <label>Email Address *</label>
                                @Html.TextBoxFor(a=>a.EmailAddress,new{@class="form-control form-control-user required",placeholder="Email"})
                                @Html.ValidationMessageFor(a=>a.EmailAddress,"",new{@class="text-danger"})
                            </div>

                            <div class="form-group mt-2">
                                <label>Mobile Number *</label>
                                @Html.TextBoxFor(a=>a.MobileNumber,new{@class="form-control form-control-user required",placeholder="Mobile Number"})
                                @Html.ValidationMessageFor(a=>a.MobileNumber,"",new{@class="text-danger"})
                            </div>
                           
                            <div class="form-group mt-2">
                                <label>Roles *</label>
                                @Html.ListBoxFor(a=>a.Roles,(SelectList)ViewBag.RoleList,new{@class="form-control Roles",data_val=false})
                                
                            </div>

                            <button type="submit" class="btn btn-primary mt-2">
                                Update 
                            </button>

                        </form>
                        <hr>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{
    <script>
        $(document).ready(function(){
            $('.Roles').select2({
                placeholder: 'Select an option'
            });
        })
    </script>
}
